* {
    margin: 0;
    padding: 0;
}

#page-wraper {
    width: 100%;
    height: 100%;
    font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
}

#content-wraper {
    width: 1036px;
    margin: 0 auto;
    color: #1b1750;
    padding: 10px 0 0 30px;
    /*border: 1px solid black;*/
}
#header-wraper {
    width: 100%;
    height: 590px;
    background-color: #1b1750;
    border-bottom: 7px solid #bfbec8;
    padding-top: 10px
}

#head {
    background-color: #1b1750;
    color: white;
    text-align: center;
    height: 590px;
    width: 1100px;
    margin-bottom: 25px;
    /*border: 1px solid white;*/
    margin: 0 auto;
    position: relative;
}
#head h1 {
    font-size: 40px;
    width: 92%;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.71);
    font-weight: 500;
    padding-bottom: 4px;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 870px;
}
#head .head-text {
    font-size: 30px;
    font-weight: 400;
    z-index: 2;
    position: relative;
}

#girl-bg {
    background: url('../images/head-girl-large.png');
    position: absolute;
    width: 777px;
    height: 611px;
    top: -21px;
    left: -153px;
    z-index: 1;
    pointer-events: none;
    background-size: cover;
}

.counter-block {
    width: 380px;
    margin: auto;
    margin-top: 29px;
}
.counter-block .title {
    font-size: 32px;
    margin-bottom: 5px;
}

#counter .numbers {
    display: inline-block;
}
#counter .numbers span {
    background: url('../images/counter-bg.png');
    color: #1b1750;
    font-weight: bold;
    width: 40px;
    height: 61px;
    display: inline-block;
    font-size: 47px;
}
#counter .tire {
    background: url('../images/tire.png');
    width: 19px;
    height: 17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
}
#counter > .numbers > div {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    color: #a7a7a7;
}

#head-form {
    right: 40px;
    position: absolute;
    width: 320px;
    padding: 290px 0 0 0;
    background: url('../images/bottles.png') no-repeat;
    top: 0;
    margin-top: 160px;
}

#head-form input {
    width: 75%;
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
    background: #d4d4d9;
    border: 1px solid #4f48b0;
    color: #5E5E61;
    font-weight: bold;
}

#modal-submit {
    background: url('../images/btn-bg-2.png') no-repeat;
    width: 300px;
    height: 51px;
    margin-left: 10px;
    font-size: 19px;
    padding-top: 10px;
    text-transform: uppercase;
    color: rgb(27, 23, 80);
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}

#modal-submit:hover {
    color: white;
}

/* CONTENT */

.left {
    float: left;
    width: 51%;
}
.right {
    float: right;
    width: 43%;
    right: 130px;
    margin-right: 23px;
    font-size: 18px;
}

h1 {
    margin-bottom: 15px;
}

.list-ptic li{
    list-style: none;
    background: url('../images/list-img-2.png') no-repeat;
    padding-left: 30px;
    font-size: 21px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(27, 23, 80, 0.44);
}

.right > div:nth-child(1) {
    font-style: italic;
}
.right > div:nth-child(2) {
    font-weight: bold;
    margin: 7px 0 7px 0;
}
.bottom-text {
    font-size: 27px;
    font-weight: bold;
    margin: 20px 0 40px 0;
    width: 100%;
    text-align: center;
}

.error {
    border: 2px solid red!important;
}



.my-modal-body {
    background: #1b1750;
    position: relative;
    padding: 25px;
    color: white;
    text-align: center;
}
.my-modal-body h1{
    font-size: 22px;
    font-weight: bold;
}
.my-modal-body h2{
    font-size: 18px;
    margin: 35px 0 15px 0;
}