* {
    margin: 0;
    padding: 0;
}

#page-wraper {
    width: 100%;
    height: 100%;
    font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
    display: table;
    position: absolute;
}

#content-wraper {
    width: 1036px;
    margin: 0 auto;
    color: #1b1750;
    padding: 10px 0 0 30px;
    /*border: 1px solid black;*/
}

#header-wraper {
    width: 100%;
    height: 590px;
    background-color: #1b1750;
    /*border-bottom: 7px solid #bfbec8;*/
    padding-top: 10px;
    display: table-cell;
    vertical-align: middle;
}

#head {
    background-color: #1b1750;
    color: white;
    text-align: center;
    height: 666px;
    width: 1100px;
    margin-bottom: 25px;
    /*border: 1px solid white;*/
    margin: 0 auto;
    position: relative;
}

#head h1 {
    font-size: 40px;
    width: 92%;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.71);
    font-weight: 500;
    padding-bottom: 4px;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    width: 870px;
}

#head .head-text {
    font-size: 30px;
    font-weight: 400;
    z-index: 2;
    position: relative;
}

#girl-bg {
    background: url('../images/head-girl-large.png');
    position: absolute;
    width: 777px;
    height: 611px;
    top: 0px;
    left: -160px;
    z-index: 1;
    pointer-events: none;
    background-size: cover;
}

.center-block {
    width: 380px;
    margin: auto;
    margin-top: 120px;
    font-size: 40px;
    font-weight: bold;
}


#head-form {
    right: 0px;
    width: 350px;
    position: absolute;
    padding: 280px 0 0 0;
    background: url('../images/full-bottles.png') no-repeat;
    top: 0;
    margin-top: 135px;
    text-align: center;
    background-size: contain;
}

#head-form input {
    width: 75%;
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
    background: #d4d4d9;
    border: 1px solid #4f48b0;
    color: #5E5E61;
    font-weight: bold;
}

#modal-submit {
    background: url('../images/btn-bg-2.png') no-repeat;
    width: 300px;
    height: 51px;
    font-size: 19px;
    padding-top: 10px;
    text-transform: uppercase;
    color: rgb(27, 23, 80);
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

#modal-submit:hover {
    color: white;
}

.error {
    border: 2px solid red !important;
}

.bottom-text {
    width: 555px;
    margin-left: -204px;
    position: absolute;
    font-size: 23px;
}

.my-modal-body {
    background: #1b1750;
    position: relative;
    padding: 25px;
    color: white;
    text-align: center;
}
.my-modal-body h1{
    font-size: 22px;
    font-weight: bold;
}
.my-modal-body h2{
    font-size: 18px;
    margin: 35px 0 15px 0;
}