* {
    margin: 0;
    padding: 0;
}

#page-wraper {
    width: 100%;
    height: 100%;
}
#content-wraper {
    width: 960px;
    margin: 0 auto;
    font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
    height: 2000px;
    color: #1b1750;
}
#head {
    background-color: #1b1750;
    color: white;
    text-align: center;
    height: 445px;
    border-bottom: 7px solid #bfbec8;
    margin-bottom: 25px;
    position: relative;
}
#head h1 {
    font-size: 40px;
    width: 92%;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.71);
    margin-bottom: 10px;
    font-weight: 500;
    padding-bottom: 4px;
    margin-top: 10px;
}
#head .head-text {
    font-size: 30px;
    font-weight: 400;
}
#head-form {
    width: 285px;
    float: right;
    /*border: 1px solid gray;*/
    right: 35px;
    position: absolute;
    top: 180px;
}
#head-form .counter span{
    background-color: #7b78a7;
    color: #1b1750;
    padding: 0px 5px 0 5px;
    margin-right: 0px;
    font-weight: 700;
    font-size: 30px;
    display: inline-block;

    transform: scale(1,1.2);
    -webkit-transform: scale(1,1.2);
    -moz-transform: scale(1,1.2);
    -ms-transform: scale(1,1.2);
    -o-transform: scale(1,1.2);
}
#head-form > span:nth-child(2) {
    font-size: 15px;
    display: block;
    font-style: italic;
    color: #A8A5D7;
    margin-top: 10px;
    margin-bottom: 10px;
}
#head-form input {
    height: 25px;
    width: 195px;
    color: #5e5e5e;
    display: inline-block;
    background-color: #d4d4d9;
    margin-top: 8px;
    padding: 2px;
    text-align: center;
    border: 1px solid #4f48b0;
}
#head-form input[type=submit]{
    width: 120px;
    background-color: orange;
    border-radius: 5px;
    border: 0px;
    height: 32px;
    margin-top: 12px;
    cursor: pointer;
    color: black;
}
#head-form input[type=submit]:hover {
    background-color: #ff631f;
    color: white;
}
#landing-image {
    background-image: url('../images/landing-head.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin-top: -90px;
}
.text-center-1 {
    text-align: center;
    display: inherit;
    color: #1b1750;
    font-weight: 500;
    padding-top: 17px;
}
.down-arrow {
    width: 54px;
    height: 30px;
    background-image: url('../images/down-arrow.png');
    margin: 10px auto;
    background-size: cover;
    visibility: hidden;
}
.text-center-h1 {
    text-align: center;
    font-size: 30px;
    color: #1b1750;
    font-weight: bold;
}
#block-bg-1 {
    background-color: #bfbec8;
    text-align: center;
    padding-top: 10px;
    margin-top: 5px;
}
#block-bg-1 ul{
    width: 580px;
    margin: 0 auto;
    text-align: left;
    color: #1b1750;
    font-weight: 500;
}

#block-bg-1 ul li {
    list-style: none;
    border-bottom: 1px dashed;
    margin-bottom: 9px;
    line-height: 1.3;
}
#block-bg-1 > ul > li:last-child{
    border-bottom: none;
}
#block-bg-1 ul li::before {
    background: url('../images/list-img.png') no-repeat left top;
    width: 22px;
    height: 22px;
    content: ' ';
    position: absolute;
    margin-left: -36px;
}
.ul-bottom {
    width: 750px;
    height: 10px;
    background-image: url('../images/ul-border-bottom.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    border-top: 1px solid #1b1750;
    background-position: center;
}
.text-under-ul{
    font-weight: 500;
}
#block-bg-bg{
    width: 80%;
    background-color: #1b1750;
    color: white;
    margin: 5px auto;
    padding-bottom: 5px;
}
#block-bg-bg span{
    display: block;
    font-style: italic;
}
#block-bg-bg > span:nth-child(1){
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}
#block-bg-bg > span:nth-child(3){
    font-weight: 600;
}
#block-bg-1 > div:nth-child(6){
    margin: 10px 0 5px 0;
}

#block-bg-2 {
    color: #1b1750;
    position: relative;
}
#block-bg-2 .text-center-2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#block-bg-2 .text-center-3 {
    text-align: center;
    font-size: 32px;
}

#block-bg-2 .block-with-left-img {
    text-align: left;
    padding: 0 0 10px 140px;
    background-image: url('../images/img-synergy.png');
    background-repeat: no-repeat;
    background-position-y: 5px;
}
#block-bg-2 .block-with-left-img span {
    display: block;
}
#block-bg-2 > .block-with-left-img > span:nth-child(1) {
     font-size: 30px;
     font-weight: bold;
}
#block-bg-2 > .block-with-left-img > span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}
#block-bg-2 .text-left-1 {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
#block-bg-2 .text-list-1 {
    background-image: url('../images/icon-bird.png');
    background-repeat: no-repeat;
    padding: 0 0 0 34px;
    margin-top: 10px;
    width: 555px;
}
/* BUTTON */
.button-group {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
.button-group > div:nth-child(1) {
    background-image: url("../images/btn-bg.png");
    background-repeat: no-repeat;
    height: 45px;
    cursor: pointer;
}
.button-group > div:nth-child(1) > span {
    margin-top: 12px;
    display: inline-block;
}
.button-group > div:nth-child(2) {
    background-image: url("../images/btn-bottom-shadow.png");
    background-repeat: no-repeat;
    height: 25px;
}
.button-group > div:nth-child(1):hover {
    color: white;
}
/* BUTTON END*/

#block-bg-2 .down-arrow {
    margin-top: -10px;
}
#block-bg-2 > .bg-image {
    background-image: url("../images/lending-img-1.png");
    background-repeat: no-repeat;
    width: 245px;
    height: 600px;
    position: absolute;
    right: 33px;
    top: 57px;
    background-size: 251px;
}

.text-center-2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.text-center-3 {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
}
.text-center-4 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.text-center-5 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}

#block-bg-3 .block-images {
    text-align: center;
    margin: 5px 0 5px 0;
}
#block-bg-3 .block-images img{
    padding: 7px;
}
#block-bg-3 .button-group {
    margin-top: 20px;
}
#block-bg-3 .down-arrow {
    margin-bottom: 10px;
    margin-top: -10px;
}

.block-img-list {
    margin-top: 10px;
    height: 245px;
}
.block-img-list .left{
    float: left;
}
.img-before-after {
    width: 350px;
    float: right;
}
.text-list-2 {
    font-size: 21px;
    list-style-image: url('../images/list-ptica.jpg');
    margin-left: 27px;
}

#block-bg-5 {
    text-align: left!important;
    position: relative;
}
#block-bg-5 .text-center-2,
#block-bg-5 .text-center-4,
#block-bg-5 .text-center-5 {
    text-align: left;
}
#block-bg-5 .text-center-4 {
    margin-bottom: 10px;
}
#block-bg-5 .textes {
    width: 72%;
}
#block-bg-5 .bg-image-5 {
    position: absolute;
    background: url('../images/img-bg-2.png');
    right: 0;
    width: 300px;
    height: 429px;
    top: 95px;
}

#block-bg-5 .button-group {
    margin-top: 20px;
}

.down-up-arrow {
    width: 54px;
    height: 68px;
    background-image: url('../images/down-up-arrow2.png');
    margin: 10px auto;
    background-size: cover;
    visibility: hidden;
}

#block-bg-6 {
    position: relative;
}
#block-bg-6 .text-center-5 {
    text-align: left!important;
}
#block-bg-6 .button-group {
    margin-top: 60px;
    margin-bottom: 60px;
}



/* MODAL */

.my-modal-body {
    background: #1b1750;
    position: relative;
    padding: 25px;
    color: white;
    text-align: center;
}
.my-modal-body h1{
    font-size: 22px;
    font-weight: bold;
}
.my-modal-body h2{
    font-size: 18px;
    margin: 35px 0 15px 0;
}

.my-modal-body input[type="text"] {
    height: 25px;
    width: 195px;
    color: #5e5e5e;
    display: block;
    background-color: #d4d4d9;
    margin-top: 8px;
    padding: 2px;
    text-align: center;
    border: 1px solid #4f48b0;
    margin: 0 auto;
    margin-bottom: 7px;
}
#modal-submit {
    background: url('../images/btn-bg-2.png') no-repeat;
    width: 300px;
    height: 51px;
    font-size: 19px;
    text-transform: uppercase;
    color: rgb(27, 23, 80);
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
    border: 0;
    margin: 10px 0 20px 0;
    outline: none;
}
#modal-submit:hover {
    color: white;
}
.error {
    border: 2px solid red !important;
}






