#followingBallsG {
    position: relative;
    width: 100px;
    height: 8px;
    margin: 0 auto;
}

.followingBallsG {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -moz-animation-name: bounce_followingBallsG;
    -moz-animation-duration: 1.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 4px;
    -webkit-animation-name: bounce_followingBallsG;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 4px;
    -ms-animation-name: bounce_followingBallsG;
    -ms-animation-duration: 1.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 4px;
    -o-animation-name: bounce_followingBallsG;
    -o-animation-duration: 1.3s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 4px;
    animation-name: bounce_followingBallsG;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#followingBallsG_1 {
    -moz-animation-delay: 0s;
}

#followingBallsG_1 {
    -webkit-animation-delay: 0s;
}

#followingBallsG_1 {
    -ms-animation-delay: 0s;
}

#followingBallsG_1 {
    -o-animation-delay: 0s;
}

#followingBallsG_1 {
    animation-delay: 0s;
}

#followingBallsG_2 {
    -moz-animation-delay: 0.13s;
    -webkit-animation-delay: 0.13s;
    -ms-animation-delay: 0.13s;
    -o-animation-delay: 0.13s;
    animation-delay: 0.13s;
}

#followingBallsG_3 {
    -moz-animation-delay: 0.26s;
    -webkit-animation-delay: 0.26s;
    -ms-animation-delay: 0.26s;
    -o-animation-delay: 0.26s;
    animation-delay: 0.26s;
}

#followingBallsG_4 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

@-moz-keyframes bounce_followingBallsG {
    0% {
        left: 0px;
        background-color: #000000;
    }

    50% {
        left: 93px;
        background-color: #FFFFFF;
    }

    100% {
        left: 0px;
        background-color: #000000;
    }

}

@-webkit-keyframes bounce_followingBallsG {
    0% {
        left: 0px;
        background-color: #000000;
    }

    50% {
        left: 93px;
        background-color: #FFFFFF;
    }

    100% {
        left: 0px;
        background-color: #000000;
    }

}

@-ms-keyframes bounce_followingBallsG {
    0% {
        left: 0px;
        background-color: #000000;
    }

    50% {
        left: 93px;
        background-color: #FFFFFF;
    }

    100% {
        left: 0px;
        background-color: #000000;
    }

}

@-o-keyframes bounce_followingBallsG {
    0% {
        left: 0px;
        background-color: #000000;
    }

    50% {
        left: 93px;
        background-color: #FFFFFF;
    }

    100% {
        left: 0px;
        background-color: #000000;
    }

}

@keyframes bounce_followingBallsG {
    0% {
        left: 0px;
        background-color: #000000;
    }

    50% {
        left: 93px;
        background-color: #FFFFFF;
    }

    100% {
        left: 0px;
        background-color: #000000;
    }

}